{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
    <label for="searchtitle">Search</label>
    <input name="searchtitle" id="searchtitle" value="" required>
    <input type="submit" value="Search">
</form>
{% for post in posts %}
<article class="post">
    <header>
        <div>
            {% if post['judgement'] != "" %}
            <h1>{{ post['title'] }} <br/> Judgement: {{ post['judgement'] }} By: {{ post['judgement_author'] }}</h1>
            {% else %}
            <h1>{{ post['title'] }}</h1>
            {% endif %}
            <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
        {% if g.user['class'] %}
        <a class="action" href="{{ url_for('blog.judge', id=post['id']) }}">Judge</a>
        {% endif %}
    </header>
    {% if post['body'] != "" %}
    <p class="body">Content: <br/> {{ post['body'] }}</p>
    {% endif %}
    {% if post['reply'] != "" %}
    <p class="body">Explain: <br/> {{ post['reply'] }}</p>
    {% endif %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}